<div class="container mt-3">
  <h3>Track értékelés hozzáadása</h3>
  <form (ngSubmit)="submitRating()" #ratingForm="ngForm">

    <div class="mb-3">
      <label for="trackId" class="form-label">Track azonosító</label>
      <input
        type="text"
        id="trackId"
        class="form-control"
        [(ngModel)]="newRating.trackId"
        name="trackId"
        required
      />
    </div>

    <div class="mb-3">
      <label for="rating" class="form-label">Értékelés (1-10)</label>
      <input
        type="number"
        id="rating"
        class="form-control"
        [(ngModel)]="newRating.rating"
        name="rating"
        min="1"
        max="10"
        required
      />
    </div>

    <div class="mb-3">
      <label for="comment" class="form-label">Megjegyzés</label>
      <textarea
        id="comment"
        class="form-control"
        [(ngModel)]="newRating.comment"
        name="comment"
        rows="3"
      ></textarea>
    </div>

    

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!ratingForm.form.valid"
    >
      Hozzáadás
    </button>
  </form>
</div>