<div class="container mt-4">
  <div class="mb-3">
    <label for="inputId" class="form-label">Írd be az ID-t, amit szerkeszteni szeretnél:</label>
    <input id="inputId" type="text" class="form-control" [(ngModel)]="id" placeholder="ID" />
    <button class="btn btn-primary mt-2" (click)="loadTtById()">Betöltés</button>
  </div>

  <div *ngIf="tt && tt.id" class="card p-4 mt-4 shadow-sm">
    <h3 class="mb-4">TT szerkesztése</h3>

    <div class="mb-3">
      <label class="form-label">Pálya:</label>
      <input type="text" class="form-control" [(ngModel)]="tt.trackName" />
    </div>

    <div class="mb-3">
      <label class="form-label">Autó:</label>
      <input type="text" class="form-control" [(ngModel)]="tt.car" />
    </div>

    <div class="mb-3">
      <label class="form-label">Versenyző:</label>
      <input type="text" class="form-control" [(ngModel)]="tt.driver" />
    </div>

    <div class="mb-3">
      <label class="form-label">Idő:</label>
      <input type="text" class="form-control" [(ngModel)]="tt.time" />
    </div>

    <div class="mb-3">
      <label class="form-label">Dátum:</label>
      <input type="date" class="form-control" [(ngModel)]="tt.date" />
    </div>

    <div class="mb-3">
  <label class="form-label">Platform</label>
  <select class="form-select" [(ngModel)]="tt.platform" name="platform" required>
    <option *ngFor="let p of platforms" [value]="p">{{ p }}</option>
  </select>
</div>

 <div class="mb-3">
  <label class="form-label">Tire</label>
  <select class="form-select" [(ngModel)]="tt.tire" name="tire">
    <option *ngFor="let t of tires" [value]="t">{{ t }}</option>
  </select>
</div>

  <div class="mb-3">
  <label class="form-label">Assist</label>
  <select class="form-select" [(ngModel)]="tt.assist" name="assist">
    <option *ngFor="let a of assists" [value]="a">{{ a }}</option>
  </select>
</div>

  <div class="mb-3">
  <label class="form-label">Setup</label>
  <select class="form-select" [(ngModel)]="tt.setup" name="setup">
    <option *ngFor="let s of setups" [value]="s">{{ s }}</option>
  </select>
</div>

  <div class="mb-3">
  <label class="form-label">Wheather</label>
  <select class="form-select" [(ngModel)]="tt.wheather" name="wheather">
    <option *ngFor="let w of wheathers" [value]="w">{{ w }}</option>
  </select>
</div>

    <button class="btn btn-success" (click)="onUpdate()">Mentés</button>
  </div>
</div>